.cart-wrapper {
  position: absolute;
  top: -96px;
  left: 0;
  z-index: 5;
  min-height: calc(100vh - 92px);
  height: calc(100% - 92px);
  width: 100vw;
  transform: translateY(94px);
  transition: transform 1s;
  overflow: auto;
  opacity: 0;
  font-size: 40px;
  visibility: hidden;
  background: #fff;

  @include media-breakpoint-up(lg) {
    top: -42px;
    min-height: calc(100vh - 146px);
    height: calc(100% - 140px);
    width: calc(100vw - 17px);
  }

  &.show {
    opacity: 1;
    visibility: visible;
  }

  &__test {
    position: relative;
    z-index: 10;
  }
}

.cart-item {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 14px;

  &__wrapper {
    justify-content: center;
  }

  &__img {
    border-radius: 15px;
  }

  &__price-tag {
    position: relative;
    top: 21px;
    border-radius: 5px;
    padding: 3px 10px;
    background: #fff;
    font-weight: bold;
  }
}