.category-item {
  padding-top: 15px;
  margin-bottom: 25px;
  background: $dark-color-lighter;
  min-height: 300px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%);
  text-align: center;

  &:hover {
    .category-item__price-tag,
    .category-item__amount-in-bag,
    .category-item__description {
      opacity: 1;
    }
  }

  &__name {
    display: block;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
  }

  &__img {
    margin-top: 15px;
  }

  &__button {
    position: absolute;
    top: 70px;
    right: 30px;
    border: 0;
    border-radius: 50px;
    padding: 10px;
    background-image: linear-gradient(to right, #e16b2c, #eba012);
    line-height: 10px;
    color: #fff;
    transition: 0.4s ease-in;

    @include media-breakpoint-up(lg) {
      &:hover {
        cursor: pointer;
        border-radius: 0;
        transform: rotate(180deg) scale(1.25);
      }
    }

    &.addedAnimation {
      background-image: linear-gradient(to right, #0f6b0b, #3ac913);
      transition: transform 1.4s, opacity 0.5s;
      border-radius: 0;
      transform: translateY(-100px);
      opacity: 0;

      @include media-breakpoint-up(lg) {
        background-image: linear-gradient(to right, #0f6b0b, #3ac913);
        transition: transform 1.4s, opacity 0.5s;
        border-radius: 0;
        transform: translateY(-100px) rotate(180deg);
        opacity: 0;
      }
    }

    &.added {
      border-radius: 0;
      background-image: linear-gradient(to right, #0f6b0b, #3ac913);
      transform: translate(0);
      opacity: 1;
    }

    svg {
      max-width: 10px;
      width: 100%;
    }
  }

  &__description {
    position: absolute;
    left: 15px;
    bottom: 125px;
    padding: 5px 15px;
    width: calc(100% - 30px);
    background: rgba(0,0,0,0.5);
    opacity: 1;
    color: #fff;
    transition: 0.3s ease-in;

    @include media-breakpoint-up(lg) {
      opacity: 0;
    }
  }

  &__price-tag {
    position: absolute;
    left: 15px;
    bottom: 75px;
    color: #fff;
    background: rgba(0,0,0,0.5);
    width: calc(100% - 30px);
    height: 25px;
    opacity: 1;
    transition: 0.3s ease-in;

    @include media-breakpoint-up(lg) {
      opacity: 0;
    }
  }
  &__amount-in-bag {
    position: absolute;
    left: 15px;
    bottom: 51px;
    color: #fff;
    background: rgba(0,0,0,0.5);
    width: calc(100% - 30px);
    opacity: 1;
    transition: 0.3s ease-in;

    @include media-breakpoint-up(lg) {
      opacity: 0;
    }
  }
}