.contact-form {
  position: relative;
  transition: opacity 1s;

  &.fade-out {
    opacity: 0;
  }

  &__send-btn {
    padding: 9px;
    min-width: 120px;
    line-height: 1;

    span {
      font-weight: bold;
      background-image: url('../static/slider/art-finger.jpg');
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-position: 5% 5%;
    }

    &--hidden {
      opacity: 0;
      transition: opacity 5s;
    }

    &.fade-in {
      opacity: 1;
    }
    
    &:hover {
      cursor: pointer;
    }
  }

  &__or-separator {
    position: relative;
    text-align: center;

    span {

      &::after, &::before {
        content: '';
        position: absolute;
        top: 50%;
        display: block;
        transform: translateY(-50%);
        border-bottom: 5px dotted setColor(gray, light);
        width: 42%;
        height: 3px;
      }

      &::after {
        right: 0;
      }
    }
  }

  &__log-in {
    margin: 0;
    padding: 9px;
    background: #fff;
    font-weight: bold;
    color: setColor(gray, base);
    
    &:hover {
      cursor: not-allowed;
    }
    
    img {
      margin-right: 9px;
      max-width: 30px;
    }
  }

  .form-group--small-margin {
    margin-bottom: 0.75rem;
  }
}