.main-banner {
  position: relative;
  padding-top: 80%;
  background-image: url('../static/slider/angel.jpg');
  background-repeat: no-repeat;
  background-size: 165%;
  background-position: 50% top;
  transition: transform 500ms;

  @include media-breakpoint-up(lg) {
    padding-top: 0;
    height: calc(100vh - 129px);
    background-size: cover;
    background-position: unset;
  }

  &--01 {
    display: none;
    width: 65%;
    flex-grow: 1;
    background-image: url('../static/slider/art-finger.jpg');

    @include media-breakpoint-up(md) {
      display: block;
      background-size: cover;
      background-position: 100% 100%;
    }
    @include media-breakpoint-up(xl) {
      background-position: 100% 100%;

    }
  }



  &__container {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 50%;
    display: flex;
    align-items: center;
    height: 100%;
    transform: translateX(-50%);
  }

  &__text-holder {
    position: relative;
    top: 0;
    left: 0;
    margin-left: auto;
    width: 45%;
    transition: transform 1s;
    text-align: justify;
    color: #fff;

    &.slide {
      transform: translateX(300px);
    }

    @include media-breakpoint-up(md) {
      text-shadow: 0 0 10px black;
      font-size: 1.5rem;

      &.slide {
        transform: translateY(500px);
      }
    }
    @include media-breakpoint-up(lg) {
      font-size: 2.5rem;
    }
    @include media-breakpoint-up(xl) {
      width: 45%;
    }
  }
}