.navbar {
  $dark-color: #222;
  position: relative;
  display: flex;
  flex-direction: column;
  color: $dark-color;
  padding: 1rem 0;
  height: 96px;

  @include media-breakpoint-up(lg) {
    padding-top: 20px;
    overflow: hidden;
    height: 146px;
  }

  &__logo {
    display: block;
    font-family: 'Damion';
    transform: rotate(-3deg);
    color: inherit;
    font-size: 1.6rem;

    @include media-breakpoint-up(lg) {
      font-size: 2.4rem;
    }
  }

  &__chevron {
    width: 22px;

    @include media-breakpoint-up(lg) {
      display: none;
    }
  }

  &__list {
    position: absolute;
    z-index: 10;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0 10px;
    background: #fff;
    width: 100vw;
    height: calc(100vh - 96px);
    transition: transform 1s;
    transform: translateY(-100%) translateX(-50%);
    list-style-type: none;
    font-size: 1.4rem;

    &.opened {
      transform: translateY(80px) translateX(-50%);
    }

    @include media-breakpoint-up(lg) {
      display: flex;
      flex-direction: row;
      position: relative;
      left: auto;
      margin: 20px 0 0 0;
      width: auto;
      height: auto;
      opacity: 1;
      transform: none;

      &::before, &::after {
        content: '';
        position: absolute;
        display: block;
        top: 50%;
        transform: translateY(-50%);
        width: 50%;
        height: 3px;
        background: $dark-color;
      }
      &::before {
        left: -50%;
      }
      &::after {
        right: -50%;
      }

      *.opened {
        width: calc(100vw - 17px);
      }
    }

    a {
      color: inherit;
      
      &:hover {
        text-decoration: none;
      }
    }

    &-item {
      position: relative;
      margin: 10px;
      align-self: center;

      @include media-breakpoint-up(lg) {
        margin: 0 10px;
      }

      &::before {
        content: '';
        position: absolute;
        display: block;
        bottom: 0;
        width: 100%;
        height: 2px;
        background: rgb(224, 210, 49);
        transition: ease 0.5s;
        transform: scaleX(0);
      }

      &:hover{
        cursor: pointer;

        &::before {
          transform: scaleX(1);
        }
      }
    }
  }
}