.bag-container {
  position: absolute;
  top: 15px;
  right: 15px;

  @include media-breakpoint-up(lg) {
    top: 30px;
  }
}

.bag__number {
  position: absolute;
  right: -15px;
  bottom: -15px;
  z-index: 10;
  border: 0;
  border-radius: 50px;
  height: 30px;
  width: 30px;
  padding: 10px;
  background-image: linear-gradient(to right, #e16b2c, #eba012);
  line-height: 10px;
  color: #fff;
  transition: 0.4s ease-in;
}

.shopping-bag {
  width: 50px;
}