.bag-container {
  position: absolute;
  top: 94px;
  left: 0;
  width: 100%;
}

.shopping-bag {
  position: absolute;
  top: -74px;
  right: 30px;
  z-index: 10;
  width: 50px;
}

.bag__number {
  position: absolute;
  top: -34px;
  right: 15px;
  z-index: 15;
  border: 0;
  border-radius: 50px;
  height: 30px;
  width: 30px;
  padding: 10px;
  background-image: linear-gradient(to right, #e16b2c, #eba012);
  line-height: 10px;
  color: #fff;
  transition: 0.4s ease-in;
}