body {
  height: 100%;
  font-family: 'Poppins';
}

html {
  height: 100%;
  @include media-breakpoint-up(lg) {
    height: 102%;
  }
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.App {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  background: setColor(gray, base);
  color: setColor(font, base);

}

.content {
  flex: 1 1 auto;
}

.header {
  background: #fff;
}