body {
  height: 100%;
  font-family: 'Poppins';
}

html {
  height: 100%;
  @include media-breakpoint-up(lg) {
    height: 102%;
  }
}

#root, .App {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
}