.contact-page-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.contact-page-section {
  padding: 15px;
  flex-grow: 1;

  @include media-breakpoint-up(md) {
    width: 35%;
  }
  @include media-breakpoint-up(xl) {
    max-width: 450px;
  }

  h1, h2 {
    color: #fff;
  }

  h1 {
    font-size: 1.5rem;

    @include media-breakpoint-up(xxl) {
      font-size: 2.5rem;
    }
  }

  h2 {
    font-size: 1.25rem;

    @include media-breakpoint-up(xxl) {
      font-size: 1.5rem;
    }
  }

  .form-error {
    position: relative;
    overflow: hidden;
    display: block;
    max-height: 0;
    transition: max-height 1s;

    &.slide-down {
      max-height: 32px;
    }

    h2 {
      display: inline-block;
      color: setColor(font, orange);
    }
  }

  .form-control {
    display: inline-block;
    border-radius: 0;
    width: calc(100% - 38px);

    &__wrapper {
      position: relative;
      display: flex;
      align-items: center;

      @include media-breakpoint-up(md) {
        z-index: 10;
      }
    }

    &__icon {
      display: inline-block;
      margin-left: 8px;
      border-radius: 50%;
      border: 2px solid setColor(font, orange);
      padding: 5px;
      width: 30px;
      height: 30px;
      background: #fff;
      transition: border 1s;
      line-height: 1;
      text-align: center;
      font-size: 18px;
      font-weight: bold;

      &--correct {
        border-color: setColor(font, light-green);

        ~ .form-control__pop-up {
          display: none;
        }
      }

      &:hover {
        cursor: help;

        ~ .form-control__pop-up {
          opacity: 1;
        }
      }
    }

    &__pop-up {
      position: absolute;
      z-index: 100;
      top: 0;
      right: 38px;
      opacity: 0;
      padding: 7px;
      width: 50%;
      border: 3px solid setColor(font, orange);
      background: #fff;
      transition: opacity 1s;

      @include media-breakpoint-up(md) {
        z-index: -10;
        left: calc(100% + 15px);
        border-width: 2px;
        min-width: 150px;
        width: 200%;
        max-width: 350px;
        max-height: 62px;
      }

      &:hover {
        cursor: default;
      }
    }
  }
}