/*------------------------------------*\
  #HELPERS
\*------------------------------------*/

.no-scroll {
  margin: 0;
  height: 100%;
  overflow: hidden;

  @include media-breakpoint-up(lg) {
    padding-right: 17px;
  }
}

.show-on-top {
  position: relative;
  z-index: 1000;
}