/*------------------------------------*\
    #COLORS
\*------------------------------------*/

$dark-color: #312f30;
$dark-color-lighter: #3d3938;

/*------------------------------------*\
    #MEDIA-QUERIES
\*------------------------------------*/

/*------------------------------------*\
    #SIZING
\*------------------------------------*/

/*------------------------------------*\
    #TRANSITION
\*------------------------------------*/

$trans-normal: 500ms;
$trans-fast: 300ms;